controller:
  replicaCount: 2

  service:
    type: LoadBalancer
    externalTrafficPolicy: Local

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 300m
      memory: 256Mi

  metrics:
    enabled: true

  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "10254"

defaultBackend:
  enabled: true